# 数据集（非常大的图片文件夹）


# 模型权重文件（二进制大文件）
*.pth
*.h5
*.ckpt
upload_data.py
# Python 缓存（自动生成的临时文件）
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook 临时文件（如果有）
.ipynb_checkpoints/

# 如果用过 VS Code 或 IDE 的本地配置
.vscode/
.idea/